.teacher {
    background-color: #dcd1f3;
    background-image: url(../img/Wave_White_bottom_right_shape_01.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .card-item {
        padding: 20px;
        border-radius: 10px;
    }
    .card {
        border-radius: 10px;
        transition: all .5s;
        height: 100%;
        &:hover {
            box-shadow: 0px 8px 20px 6px rgb(158 158 158 / 75%);
        }
        border: none;
    }

    .card-body {
        text-align: center;
     
    }
    .nationality {
        @include styleText($color-purple-1, $fs-4, $fw-2);
        margin-bottom: $mg-3 + 0.2;
    }
    .name {
        @include styleText($color-dark-2, $fs-2 + 0.45, $fw-4);
        margin-bottom: 15px;
    }
    .detail {
        @include styleText($color-dark-1, $fs-1 + 2, $fw-1);
        line-height: 1.8em;
        font-family: 'Roboto', sans-serif;
    }
    .zoom-teacher:hover img{
        transform: scale3d(1.05,1.05,1.05);
    }
    .zoom-teacher img {
        transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
    }
    .zoom-teacher {
        overflow: hidden;
    }


}

//responsive
@include responsive("large") {
   
}

